# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/SuperHero.UI/dist
/SuperHero.UI/tmp
/SuperHero.UI/out-tsc
/SuperHero.UI/bazel-out

# Node
/SuperHero.UI/node_modules
/SuperHero.UI/npm-debug.log
/SuperHero.UI/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
/SuperHero.UI/.vscode/*
/SuperHero.UI/!.vscode/settings.json
/SuperHero.UI/!.vscode/tasks.json
/SuperHero.UI/!.vscode/launch.json
/SuperHero.UI/!.vscode/extensions.json
/SuperHero.UI/.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

/SuperHeroAPI/.vs
/SuperHeroAPI/bin
/SuperHeroAPI/obj
